* {
	margin:0;
	padding:0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
 
header {
	width:100%;
}

.menu_bar {
	display:none;
}
 
header nav {
	background:#7D389D;
	z-index: 1000;
	max-width:1000px;
	width:95%;
	margin:20px auto;
	border-radius: 12px;
}
 
header nav ul {
	list-style:none;
	text-align: center;
}
 
header nav ul li {

	display: inline-block;
	position: relative;
}

header nav ul li:hover{
	background:#AA4DEB;
	border-radius: 12px;
}
 
header nav ul li a {
	color:#fff;
	padding:20px;
	display:block;
	font-size:18px;
	text-decoration:none;
}
 
header nav ul li a span {
	margin-right:10px;
	color: #3FA733;
	font-size:20px;
}

header nav ul li:hover .sb{
	display: block;
	/*position: relative;
	*/
}

header nav ul li .sb {
	display:none;
	position: absolute;
	background: #4F2465;
	width: 150%;
	z-index:1000;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius:  12px;
}

header nav ul li .sb li{
	display: block;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255,.5);
}

header nav ul li .sb li a {
	display: block;
}

header nav ul li .sb li a span{
	text-align: right;
	position: relative;
	top: 3px;
	margin-right: 0px;
	margin-left: 10px;
}

header nav ul li .caret{
	position: relative;
	top: 3px;
	margin-right: 0px;
	margin-left: 10px;
}

 


/*///////////// APARTIR DE AQUI EMPIEZA A SER RESPONSIVE 
http://www.falconmasters.com/web-design/menu-de-navegacion-responsive/
https://icomoon.io/app/#/select/font
*/

@media screen and (max-width:800px ) {
	#na{
		margin-top: 81px;
	}

	.menu_bar {
		position: fixed;
		display:block;
		width:100%;
		top:0;
		background:#ccc;
	}
 
	.menu_bar .bt-menu {
		display:block;
		padding:20px;
		background:#7D389D;
		color:#fff;
		overflow: hidden;
		text-decoration:none;
		font-weight: bold;
		font-size:25px;
		border-bottom:1px solid rgba(255,255,255, .5);
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
 
	.menu_bar span {
		float:right;
		font-size:40px;
		color: #3FA733;
	}

	header nav {
		margin-top: 60px;
		width:60%;
		height:calc(100% - 81px);
		left:-100%;
		margin:0;
		overflow: scroll;
		border-radius: 0px;
		position: fixed;
	}
 
 	header nav ul{
 		text-align: left;
 	}

	header nav ul li {
		display:block;
		float:none;
		border-bottom:1px solid rgba(255,255,255, .5);
	}
	
	header nav ul li:hover {
		border-radius: 0px;
	}

	header nav ul li a{
		display:block;
		border-radius: 0px;
	}

	header nav ul li .sb{
		width: 100%;
		position: relative;
		border-radius: 0px;
	}

	header nav ul li .sb li a{
		margin-left: 20px;
	}

	header nav ul li .caret{
		float: right;
	}
}




