body {
	background: #F2F2F2 url('bac1.jpg') center no-repeat fixed;
	/*background-image:; 
	background-repeat:;
	-webkit-background-size:;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	background-position:;*/
}

#contenedor{
	padding: 30px;
	float:left;
	text-align: justify;
	margin: 40px;
	width: 65%;
	border: 1px solid #AA4DEB;
}

#contenedor h1{
	text-shadow:3px 3px 2px #AA4DEB;
	color: #000;
	margin: 10px;
	text-align: center;
}

@media screen and (max-width:800px ) {
	body {
		/*background-color: #E0E0E0;
		background-repeat:no-repeat;
		-webkit-background-size:cover;
		-moz-background-size:cover;
		-o-background-size:cover;
		background-size:cover;
		background-position:center;*/
	
	}



	#contenedor{
		background:#F2F2F2 url('music.jpg') no-repeat center fixed;
		padding: 30px;
		width: 100%;
		text-align: justify;
		margin: 0px;
		padding-top: 81px;
		border: 0px;
	}

	
}